<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/bagel_style.css" type="text/css" />
		<title>Eat the Bagel</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		{{{ body }}}
		<script src="/assets/js/bagels.js"></script>
	</body>
</html>