<div class="container">
<header><h1>Bagels</h1></header>

<div>
<h2>Bagels to Eat</h2>
<div>
<ul>
  {{#each bagels}}
    {{#unless devoured}}
    <p>
      {{id}} . {{bagel_name}}
      <button id="devour-bagel" class="devour-bagel" data-id="{{this.id}}">Devour Bagel!</button>
    </p>
    {{/unless}}
  {{/each}}
</ul>
</div>
</div>

<div>
<h2>Devoured Bagels</h2>
<div>
<ul>
  {{#each bagels}}
    {{#if devoured}}
    <p>
      {{bagel_name}}
    </p>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>

<div>
<h2>Add a Bagel</h2> </div>
<div>
<form class="newBagel-form">

  <div class="form-group">
    <label for="newBagel">Bagel Name</label>
    <input type="text" id="newBagel" name="bagel_name"></input>
  </div>

  <button id="newBagel-submit" type="submit">Add Bagel</button>
</form>
</div>
</div>